ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
.header-list{
    display: flex;
    justify-content: center;
    gap: 98px;
}
.header-link{
    text-decoration: none;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #7D7D7D;
font-size: 37px;
}
.header-link:hover{
  color: #03A9F4  ;  
}
.header{
    padding-top: 71px;
    padding-bottom: 92px;
    background-color: #faf0e6;
    padding: 50px;
}
.img-header {
    position: relative;
    left: 74.7%;
}
.header1 {
    background-color: #03A9F4;
}
body {
    background-color: #f0e68c;
}
